
#page-form-container {
    min-height: 20px;
    margin: 0 0px 0px 0px !important;
    background-color: white;
    border-left: 0px solid #e7e7e7 !important;
}

.navbar-brand {
	padding: 1px 12px !important;
}

.navbar-default .sidebar{
	margin-top: 91px !important;
}

.navbar.navbar-default.navbar-static-top {
	height: 90px !important;
}

.nav.navbar-top-links.navbar-right {
	margin: 20px 0px 0px 0px;
}

.navbar-default.sidebar {
	background-color: #f8f8f8 !important;
}

.navbar-default {
    background-color: #e1e798;
}

#tb_pedidos_filter {
	float: right;
}

#tb_ordenes_ingreso_salida_filter {
	float: right;
}

#tb_items_informe_filter {
	float: right;
}

#tb_consolidado_filter {
	float: right;
}


#tb_pedidos_paginate, #tb_items_paginate, #tb_padron_paginate, 
#tb_ordenes_ingreso_salida_paginate, #tb_items_informe_paginate, 
#tb_informe_rechazo_paginate, #tb_consolidado_paginate {
	float: right;
}

.label_project {
	color: #337ab7;
	text-decoration: none;
	font-weight: bold;
}

#tb_pedidos thead {
	background-color: #e1e79899;
}

#tb_items thead {
	background-color: #e1e79899;
}

#tb_padron thead {
	background-color: #e1e79899;
}

#tb_ordenes_ingreso_salida thead {
	background-color: #e1e79899;
}

#tb_items_informe thead {
	background-color: #e1e79899;
}

#tb_informe_rechazo thead {
	background-color: #f9823c52;
}

#tb_consolidado thead {
	background-color: #f9823c52;
}

#tb_ordenes_ingreso_salida th{
	vertical-align: middle;
	font-size: 12px;
}


/* ---------------------------- Export Menu Style (Highcharts) ----------------------------- */
.highcharts-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #333333;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

.highcharts-menu-item:hover {
  background: #335cad;
  color: #ffffff;
}

.highcharts-button-box {
  fill: inherit;
}

.highcharts-contextbutton {
  fill: #ffffff;
  /* needed to capture hover */
  stroke: none;
  stroke-linecap: round;
}

.highcharts-contextbutton:hover {
  fill: #e6e6e6;
  stroke: #e6e6e6;
}

.highcharts-button {
  fill: #f7f7f7;
  stroke: #cccccc;
  cursor: default;
  stroke-width: 1px;
  transition: fill 250ms;
}

.highcharts-menu {
  border: 1px solid #999999;
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}
/*  ------------------------------------------------ */